{% extends 'base.html.twig' %}

{% block title %}Edit Liburua{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card border-light">
                <div class="card-header">
                    <h1>{{ liburua | trans }} {{ "editatzen" | trans }}</h1>
                </div>
                <div class="card-body text-right">
                    <a class="btn btn-outline-primary" href="{{ path('liburua_index') }}"><i class="fas fa-arrow-circle-left"></i> {{ "Itzuli zerrendara" | trans }}</a>
                    <a class="btn btn-primary btnSave" href="javascript:void(0);"><i class="fas fa-save"></i> {{ "btnSave" | trans }}</a>
                </div>
            </div>
        </div>
    </div>

    {{ include('liburua/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
