{% form_theme searchform 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'base_no_sidebar.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('cssIframe') }}
    {% endblock %}

{% block title %}{% endblock %}
{% block navbar %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card-body no-padding-top">
                <div class="row">

                    {{ form_start(searchform, { 'attr' : { 'class': 'form-bg col-12', 'id': 'searchForm' }}) }}

                    {{ form_row(searchform.testua) }}

                    {{ form_row(searchform.datatik) }}
                    {{ form_row(searchform.datara) }}

                    <div class="row">
                        <div class="col-6 text-center">
                            {{ form_row(searchform.Garbitu) }}
                        </div>
                        <div class="col-6 text-center">
                            {{ form_row(searchform.Bilatu) }}
                        </div>
                    </div>

                    {{ form_rest(searchform) }}
                    {{ form_end(searchform) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-12">
            <span>{{ "index.num_reg" | trans }} {{ erabakias | length }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-responsive-sm tableFixHead">
                <thead>
                <tr>
                    <th class="thId">
                        {{ 'index.num' | trans }}
                    </th>
                    <th class="thLiburua">{{ "index.liburua" | trans }}</th>
                    <th class="thData">
                        {{ 'index.data' | trans }}
                    </th>
                    <th class="thGaiak">{{ "index.gaiak" | trans }}</th>
                    <th class="thTemas">{{ "index.temas" | trans }}</th>
                    <th class="thFile">{{ "index.fitxategia" | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for erabakium in erabakias %}
                    <tr>
                        <td>{{ erabakium.id }}</td>
                        <td><a href="javascript:void(0);" class="selectBook" data-liburuaid="{{ erabakium.liburua.id }}">{{ erabakium.liburua }}</a></td>
                        <td>{{ erabakium.adata ? erabakium.adata|date('Y-m-d') : '' }}</td>
                        <td>{{ erabakium.gaiak | raw }}</td>
                        <td>{{ erabakium.temas | raw}}</td>
                        <td class="text-center">
                            <a href="{{ vich_uploader_asset(erabakium,'pdfFile') }}" target="_blank">
                                <i class="fas fa-file-pdf ikonoa"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
