{% form_theme searchform 'bootstrap_4_horizontal_layout.html.twig' %}

{% extends 'base_no_sidebar.html.twig' %}

{% block title %}Erabakia index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card border-light">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <h3>{{ "sidebar.erabakia" | trans }}</h3>
                        </div>
                        <div class="col-4 text-right">
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="collapse show" id="collapseExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                {{ form_start(searchform, { 'attr' : { 'class': 'form-bg', 'id': 'searchForm' }}) }}
                                {{ form_row(searchform.testua) }}

                                {{ form_row(searchform.datatik) }}
                                {{ form_row(searchform.datara) }}

                                {{ form_row(searchform.liburua) }}

                                <div class="row">
                                    <div class="col-4">&nbsp;</div>
                                    <div class="col-2">
                                        {{ form_row(searchform.Garbitu) }}
                                    </div>
                                    <div class="col-2">
                                        {{ form_row(searchform.Bilatu) }}
                                    </div>
                                    <div class="col-4">&nbsp;</div>
                                </div>

                                {{ form_rest(searchform) }}
                                {{ form_end(searchform) }}
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-12">
            <span>{{ "index.num_reg" | trans }} {{ erabakias.getTotalItemCount }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-responsive-sm">
                <thead>
                <tr>
                    <th{% if erabakias.isSorted('l.id') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(erabakias, '#', 'l.id') }}
                    </th>
                    <th>{{ "index.liburua" | trans }}</th>
                    <th{% if erabakias.isSorted('l.adata') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(erabakias, 'Data', 'l.adata') }}
                    </th>
                    <th>Gaiak</th>
                    <th>Temas</th>
                    <th>{{ "index.fitxategia" | trans }}</th>
                    <th{% if erabakias.isSorted('l.akta') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(erabakias, 'Akta'|trans({foo:'bar'},'messages'), 'l.akta') }}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for erabakium in erabakias %}
                    <tr>
                        <td>{{ erabakium.id }}</td>
                        <td><a href="javascript:void(0);" class="selectBook" data-liburuaid="{{ erabakium.liburua.id }}">{{ erabakium.liburua }}</a></td>
                        <td>{{ erabakium.adata ? erabakium.adata|date('Y-m-d') : '' }}</td>
                        <td>{{ erabakium.gaiak | raw }}</td>
                        <td>{{ erabakium.temas | raw}}</td>
                        <td class="text-center"><a href="{{ vich_uploader_asset(erabakium,'pdfFile') }}" target="_blank"><i class="fas fa-file-pdf"></i></a></td>
                        <td>{{ erabakium.akta ? 'Bai' | trans : 'Ez' | trans }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            {{ knp_pagination_render(erabakias) }}
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}
