
<div class="col-md-12 mt-5">
    {{ form_start(form) }}
    {% if not form.vars.valid %}
        <ul>
            {# Loop through every form item #}
            {% for child in form.children %}
                {# Display the errors of the form item #}
                {%for error in child.vars.errors%}
                    <li>{{error.message}}</li>
                {%endfor%}
            {%endfor%}
        </ul>
    {%endif%}
        {{ form_row(form.adata) }}
        {{ form_row(form.gaiak) }}
        {{ form_row(form.temas) }}
        <hr>
        {{ form_row(form.pdfFile) }}
        <hr>
        {{ form_row(form.oharrak) }}
        {{ form_row(form.observaciones) }}
        {{ form_row(form.akta) }}


        {{ form_rest(form) }}

        <button class="btn btn-primary btnSubmitButton"><i class="fas fa-save"></i> {{ button_label|default('Gorde') }}</button>


    {{ form_end(form) }}
</div>
